<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>
    <http pattern="/webjars/**" security="none"/>

    <http>
        <intercept-url pattern="/sign-in" access="permitAll"/>
        <intercept-url pattern="/sign-up" access="permitAll"/>

        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <form-login login-page="/sign-in" default-target-url="/welcome"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-failure-url="/sign-in?error=true"
                    login-processing-url="/spring_security_check"/>
        <logout logout-url="/logout" logout-success-url="/sign-in"/>
<!--
        <csrf disabled="true"/>
-->
    </http>

    <beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userSevice">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>